<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <%= require('html!./inc-meta.html') %>
</head>
<body>
  <ion-tabs class="tabs-icon-top tabs-positive">
		<ion-tab title="首页"
		 icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
			<ion-header-bar class="bar-positive">
				<h1 class="title">首页</h1>
			</ion-header-bar>
		</ion-tab>
		<ion-tab title="交流"
		 icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline">
			<ion-header-bar  class="bar-positive">
				<h1 class="title">交流</h1>
			</ion-header-bar>
		</ion-tab>
		<ion-tab title="设置"
		 icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
			<ion-header-bar  class="bar-positive">
				<h1 class="title">设置</h1>
			</ion-header-bar>
		</ion-tab>
	</ion-tabs>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
