<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <%= require('html!./inc-meta.html') %>
</head>
<body>

  <div class="bar bar-header">
    <a class="button button-clear icon ion-ios-telephone-outline"></a>
    <h1 class="title">动卡空间·保险优选</h1>
    <a class="button button-clear icon ion-ios-bell-outline"></a>
  </div>

  <div class="tabs tabs-top tabs-light">
    <a class="tab-item active">推荐</a>
    <a class="tab-item active">滚吧·倒霉君</a>
    <a class="tab-item active">旅行险</a>
    <a class="tab-item active">运动险</a>
    <a class="tab-item active">健康险</a>
  </div>

  <div class="scroll-content has-header has-tabs-top">
    <div class="mb-card">
      <img src="./assets/images/car2.jpg" alt="">
      <div class="mb-card-box-bg">
        <div class="mb-card-box">
          <h4>车行万里路·人车保平安</h4>
          <p>车品越好，保费越低</p>
          <a class="button button-assertive button-small button-outline">立即参与</a>
        </div>
      </div>
    </div>
    <div class="mb-padding-content padding-horizontal">
      <div class="mb-title">
        <span class="mb-title-text">限时抢购</span>
        <span class="mb-title-split"></span>
      </div>
      <div class="mb-card">
        <img src="./assets/images/dog1.jpg" alt="">
        <div class="mb-card-bottom">
          <h4 class="mb-card-title">汪星人的饲养人责任险</h4>
          <p class="mb-card-subtitle">汪星人花样作死？保险赔付！有了它，再也不用狗带了！</p>
          <div class="mb-card-currey">
            <span class="mb-card-rmb"><span>¥8</span> 起</span>
            <span class="mb-card-ordered">已购买2000人次</span>
          </div>
        </div>
      </div>

      <a class="button button-outline button-block button-assertive">更多限时抢购 <i class="ion-ios-arrow-right"></i></a>

      <div class="mb-title">
        <span class="mb-title-text">热门推荐</span>
        <span class="mb-title-split"></span>
      </div>

      <div class="mb-card">
        <img src="./assets/images/hot1.jpg" alt="">
        <div class="mb-card-box-bg">
          <div class="mb-card-box">
            <h4>安联境外旅行险</h4>
            <div class="mb-card-currey">
              <span class="mb-card-rmb"><span>¥68</span> 起</span>
              <span class="mb-card-ordered">已购买2000人次</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-card">
        <img src="./assets/images/hot2.jpg" alt="">
        <div class="mb-card-box-bg">
          <div class="mb-card-box">
            <h4>信用贷保险</h4>
            <div class="mb-card-currey">
              <span class="mb-card-rmb"><span>¥666</span> 起</span>
              <span class="mb-card-ordered">已购买2000人次</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-card">
        <img src="./assets/images/hot3.jpg" alt="">
        <div class="mb-card-box-bg">
          <div class="mb-card-box">
            <h4>熊孩子意外险</h4>
            <div class="mb-card-currey">
              <span class="mb-card-rmb"><span>¥68</span> 起</span>
              <span class="mb-card-ordered">已购买2000人次</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-card">
        <img src="./assets/images/hot4.jpg" alt="">
        <div class="mb-card-box-bg">
          <div class="mb-card-box">
            <h4>非常准航空延误险</h4>
            <div class="mb-card-currey">
              <span class="mb-card-rmb"><span>¥20</span> 起</span>
              <span class="mb-card-ordered">已购买2000人次</span>
            </div>
          </div>
        </div>
      </div>

      <a class="button button-outline button-block button-assertive">进入热卖专区 <i class="ion-ios-arrow-right"></i></a>

      <div class="mb-title">
        <span class="mb-title-text">理赔流程</span>
        <span class="mb-title-split"></span>
      </div>

      <img src="./assets/images/liuchen.png" alt="">
      <img src="./assets/images/suport.png" alt="">
    </div>
  </div>

  <div class="tabs tabs-light tabs-icon-top">
    <a class="tab-item active">
      <i class="icon ion-ios-box-outline"></i>买场
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-crop"></i>分类
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-pulse"></i>发现
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-person-outline"></i>我
    </a>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
