
.mb-card {
  position: relative;
  text-align: center;

  &-box {
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.8);;
  }

  &-box-bg {
    position: absolute;
    border: 1px solid #fff;
    width: 260px;
    padding: 5px;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -130px;
  }

  img {
    width: 100%;
  }

  a.button {
    padding: 3px 20px;
  }
}
